 body {
    background-color: rgb(235, 201, 241);
    color: rgb(43, 3, 43);
    font-family: "New Amsterdam", sans-serif;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
 }

  button {
    background-color: rgb(207, 240, 245);
    color: black;
    font-family: "New Amsterdam", sans-serif;
    font-size: 20px;
  }

  .passo {
    display: none;
  }

  .passo.ativo {
    display: block;
  }

  main {
    max-width: 90%;
  }

  img {
     max-width: 90%;
  }